@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Population</h1>
    <p class="lead">This site gives you a insight about the world population and its statistics</p>
    <p><a href="https://en.wikipedia.org/wiki/World_population" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Earth</h2>
        <img src="~/Content/images/earth.jpg" alt="Planet Earth" />
        <p>
            Earth is the third planet from the Sun, the densest planet in the Solar System, 
            the largest of the Solar System's four terrestrial planets, 
            and the only astronomical object known to harbor life.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Earth">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>World</h2>
        <img src="~/Content/images/world.jpg" alt="Planet Earth" />
        <p>The world is the planet Earth and all life upon it, including human civilization. In a philosophical context, the world is the whole of the physical Universe, or an ontological world, described by Martin Heidegger as world disclosure.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/World">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>